parameters:
    level: max
    paths:
        - app/
        - tests/
    excludePaths:
        - app/Console/Kernel.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        # Laravel Eloquent Model methods
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::factory\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::make\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::create\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::query\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::where\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::first\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::find\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::findOrFail\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::all\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::get\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::save\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::delete\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::update\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::fill\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setAttribute\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getAttribute\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::hasAttribute\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getKey\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getKeyName\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getTable\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getConnection\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getConnectionName\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getDateFormat\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getIncrementing\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getKeyType\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getRememberToken\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setRememberToken\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getRememberTokenName\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getAuthPassword\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getAuthIdentifierName\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getAuthIdentifier\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getFillable\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getGuarded\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getHidden\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getVisible\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getCasts\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getDates\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getMutatedAttributes\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getObservableEvents\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getEventDispatcher\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setEventDispatcher\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::unsetEventDispatcher\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getBooted\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::bootIfNotBooted\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::bootModel\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::clearBootedModels\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getGlobalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::addGlobalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::hasGlobalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::withoutGlobalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::withoutGlobalScopes\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getLocalScopes\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::addLocalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::hasLocalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::withoutLocalScope\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::withoutLocalScopes\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getScopedModelEvents\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::fireModelEvent\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::fireCustomModelEvent\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::observables\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getObservables\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setObservables\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getTouchedRelations\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::setTouchedRelations\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::touchOwners\(\)#'

